::-webkit-scrollbar {
  display: none;
}
.slick-center img {
  @media screen and (max-width: 768px) {
    transform: scale(1.35, 1.35);
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
  @media screen and (min-width: 769px) {
    transform: scale(1.2, 1.2);
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
.slick-carousel {
  width: 100%;
}
.slick-center {
  /* display: block;
  position: relative;
  @media screen and (max-width: 768px) {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  @media screen and (min-width: 769px) {
    margin-left: 0.26%;
    margin-right: 0.26%;
  } */
}

.slick-slide {
  outline: none;
  @media screen and (min-width: 769px) {
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    padding-top: 8vh;
  }
  @media screen and (max-width: 768px) {
    min-height: 40vh;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
  }
}
.slick-slide > div {
  @media screen and (max-width: 768px) {
    margin: 0 5.5vw;
  }
  @media screen and (min-width: 769px) {
    margin: 0 2.5vw;
  }
}
.slick-list {
  @media screen and (max-width: 768px) {
    margin: 0 -5.5vw;
  }
  @media screen and (min-width: 769px) {
    margin: 0 -2.5vw;
  }
}
